@using ManejoEmpleados.Models

@model Posicion


@{
    ViewData["Title"] = "Nueva posicion";

}

<partial name="DashBoardSideBar" model="DashboardMenu.Posiciones"></partial>




<div>




    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form class="formGeneral" asp-controller="Posiciones" asp-action="Nuevo">
        <h2><span class="Span-N">N</span>ueva posicion</h2>
        <div class="mb-3">

            <label for="Nombre">Nombre</label>
            <input class="inputs" asp-for="Nombre" type="text" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button class="btnGuardar" type="submit">Guardar</button>
            <a asp-controller="Posiciones" asp-action="Lista" class="btnVolver">Volver</a>
        </div>
    </form>


</div>










@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



