@using ManejoEmpleados.Models;
@model EmpleadosCreacionViewModel


@{
    ViewData["Title"] = "Nuevo empleado";

}

<partial name="DashBoardSideBar" model="DashboardMenu.Empleados"></partial>




<div>



    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form class="formGeneral" asp-controller="Empleados" asp-action="Nuevo" method="post">
            <h2><span class="Span-N">N</span>uevo Empleado</h2>
        <div class="mb-3">

            <label for="Nombre">Nombre Completo</label>
            <input class="" asp-for="Nombre" type="text" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label>Correo</label>
            <input class="" asp-for="Email" type="text" />
            <span asp-validation-for="Email" class="text-danger"></span>


        </div>
        <div class="mb-3">
            <label>Salario</label>
            <input class="" asp-for="Salario" type="number" />
            <span asp-validation-for="Salario" class="text-danger"></span>


        </div>
        
        <div class="mb-3">
            <label>Departamentos</label>
            <select  asp-for="DepartamentoId" asp-items="Model.Departamentos"></select>
            <span asp-validation-for="DepartamentoId" class="text-danger"></span>


        </div>
        <div class="mb-3">
            <label>Telefono</label>
            <input class="" asp-for="Telefono" type="text" />
            <span asp-validation-for="Telefono" class="text-danger"></span>


        </div>
        
        <div class="mb-3">
            <label>Posiciones</label>
            <select asp-for="PosicionId" asp-items="Model.Posiciones"></select>
            <span asp-validation-for="PosicionId" class="text-danger"></span>


        </div>

        <div class="mb-3">
            <label>Fecha Contrato</label>
            <input class="" asp-for="FechaContrato" type="date" />
            <span asp-validation-for="FechaContrato" class="text-danger"></span>


        </div>


        <div class="mb-3">
            <input class="form-check-input checkboxActivo" asp-for="Activo" type="checkbox" />
            <label class="form-check-label" for="chkActivo">Activo</label>

        </div>
        <div class="mb-3">
            <button class="btnGuardar" type="submit">Guardar</button>
            <a asp-controller="Empleados" asp-action="Lista" class="btnVolver">Volver</a>
        </div>
    </form>


</div>










@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

